<div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title">Editar Sexo</h3>
                    
                </div>
 </div>




<section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                              
								<div class="card-content collapse show">
                                    <div class="card-body">
<form action="/sexo/{{sexo.id}}?_method=PUT" method="post" class="pt-3">
<input type="hidden" name="my_token" id="my_token" value="" />

 <div class="form-body">
 
 <div class="row">
 <div class="col-md-12">

<div class="form-group">
   <label for="nombre">Nombre</label>
   <input type="text" class="form-control" placeholder="Nombre" autofocus name="nombre" id="nombre" required value="{{sexo.nombre}}">
</div>

</div>

</div>

<small>Campos obligatorios (*)</small>
                                            <div class="form-actions">
                                                <button type="reset" class="btn btn-default mr-1">
                                                    <i class="ft-x"></i> Cancelar
                                                </button>
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="la la-check-square-o"></i> Editar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


</section>
