
<section class="row flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
					
					
                        <div class="col-lg-4 col-md-8 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-1 py-1 m-0">
							    
                                <div class="card-header border-0">
                                    <div class="card-title text-center text-weight-bold h1">
                                       <img style="width:120px" class="brand-logo img-fluid" alt="logo" src="/public/app-assets/images/logo/logo.png">
                                    </div>
                                    <h4 class="card-subtitle line-on-side text-muted text-center font-small-4 pt-2"><span>Bienvenidos, a Nómina 2020</span></h4>
                                </div>
                                <div class="card-content">
                                  
                                    <div class="card-body">
                                        <form autocomplete="off" class="form-horizontal" method="post" action="/" >
<input type="hidden" name="my_token" id="my_token" value="" />
                                            <fieldset class="form-group position-relative has-icon-left">
											
                                                <input type="text" class="form-control" placeholder="Usuario" autofocus name="email" id="email" required>
                                                <div class="form-control-position">
                                                    <i class="la la-user"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                 <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>
                                                <div class="form-control-position">
                                                    <i class="la la-key"></i>
                                                </div>
                                            </fieldset>
											
											<fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control" placeholder="C&oacute;digo" name="codigo" id="codigo" required>
                                                <div class="form-control-position">
                                                    <i class="la la-ellipsis-h"></i>
                                                </div>
                                            </fieldset>
                                            <div class="form-group row">
                                               
                                                <div class="col-sm-6 col-12 float-sm-left text-center text-sm-right"><a href="recover-password.html" class="card-link">Olvidaste la clave?</a></div>
                                            </div>
                                            <button type="submit" name="btn_submit" class="btn btn-outline-info btn-block"><i class="ft-unlock"></i> Acceder</button>
                                        </form>
                                    </div>
                                   
                                   
                                </div>
                            </div>
                        </div>
                    </div>
</section>