    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">Copyright &copy; <?=date("Y")?> <a class="text-bold-800 grey darken-2" href="/" target="_blank">Nómina 2020</a></span></p>
    </footer>
    <!-- END: Footer-->


      <script src="/public/app-assets/vendors/js/vendors.min.js"></script>
	 <script src="/public/app-assets/vendors/js/forms/icheck/icheck.min.js"></script>
	<script src="/public/app-assets/js/core/libraries/jquery_ui/jquery-ui.min.js"></script>
	
	<script src="/public/app-assets/vendors/js/extensions/sweetalert2.all.min.js"></script>
	<script src="/public/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
	<script src="/public/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
	<script src="/public/app-assets/js/scripts/tables/datatables/datatable-basic.min.js"></script>
	
	
	<script src="/public/app-assets/vendors/js/forms/select/select2.full.min.js"></script>  
    <script src="/public/app-assets/vendors/js/forms/toggle/bootstrap-switch.min.js"></script>
	<script src="/public/app-assets/vendors/js/forms/extended/inputmask/jquery.inputmask.bundle.min.js"></script>
    <script src="/public/app-assets/vendors/js/forms/toggle/switchery.min.js"></script>
    <script src="/public/app-assets/vendors/js/forms/toggle/bootstrap-checkbox.min.js"></script>
	
	 
    <!-- END: Page Vendor JS-->

    <script src="/public/app-assets/js/core/app-menu.js"></script>
    <script src="/public/app-assets/js/core/app.js"></script>
	<script src="/public/app-assets/js/scripts/tables/datatables-extensions/datatable-responsive.min.js"></script>
	<script src="/public/app-assets/js/scripts/forms/extended/form-inputmask.min.js"></script>
    <script src="/public/app-assets/js/scripts/forms/switch.min.js"></script>
    <script src="/public/app-assets/js/scripts/forms/select/form-select2.min.js"></script>
	<script src="/public/app-assets/js/scripts/customizer.min.js"></script>
    <!-- END: Theme JS-->
	
    <script src="/public/app-assets/js/scripts/gallery/photo-swipe/photoswipe-script.min.js"></script>
    <script src="/public/app-assets/js/scripts/pages/timeline.min.js"></script>
	<script src="/public/app-assets/js/scripts/forms/checkbox-radio.min.js"></script>
	<script src="/public/js/custom.js"></script>