{{#if msgSuccess}} 
									<div class="alert alert-success">{{msgSuccess}}</div>
								{{/if}}
								
								{{#if msgDanger}} 
									<div class="alert alert-danger">{{msgDanger}}</div>
								{{/if}}
								
								{{#if msgWarning}} 
									<div class="alert alert-warning">{{msgWarning}}</div>
								{{/if}}
								
								{{#if error}} 
									<div class="alert alert-danger">{{error}}</div>
								{{/if}}
<div id="success" style="display:none;" class="alert alert-success"></div>
<div id="error"style="display:none" class="alert alert-danger"></div>