<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
                <li class="active  nav-item">
                    <a class="nav-link"  href="">
                        <i  class="la la-plus font-weight-bold text-white btn btn-warning btn-sm"></i><span class="menu-title" data-i18n="Dashboard">Nómina</span></a>
                </li>
				
				 
				<li class=" nav-item" >
                    <a  href="#" ><i class="la la-folder-o"></i><span class="menu-title" data-i18n="Invoice">Conceptos</span></a>
                    <ul class="menu-content">
                        <li  ><a class="menu-item font-small-3" href="" data-toggle=""><i></i><span data-i18n="">Option 1</span></a>
                        </li>
                        <li   ><a class="menu-item font-small-3" href="" data-toggle=""><i></i><span data-i18n="">Option 2</span></a>
                        </li>
                        <li   ><a class="menu-item font-small-3" href="" data-toggle=""><i></i><span data-i18n="">Option 3</span></a>
                        </li>
                    </ul>
                </li>
				
				<li class="nav-item" >
                    <a href="#" ><i class="la la-users"></i> <span class="menu-title" data-i18n="Invoice">Empleados</span></a>
                    <ul class="menu-content">
                        <li  ><a class="menu-item font-small-3" href="/empleados" data-toggle=""><i></i><span data-i18n="">Empleados</span></a>
                        </li>
                        <li  ><a class="menu-item font-small-3" href="/empleados/nuevo" data-toggle=""><i></i><span data-i18n="">Nuevo empleado</span></a>
                        </li>
                        <li  ><a class="menu-item font-small-3" href="" data-toggle=""><i></i><span data-i18n="">Option 3</span></a>
                        </li>
                    </ul>
                </li>
				
				
				<li class="  nav-item" ><a  href="#" ><i class="la la-key"></i><span class="menu-title" data-i18n="Invoice">Perfiles</span></a>
                    <ul class="menu-content">
                        <li ><a class="menu-item font-small-3" href="/usuarios" data-toggle=""><i></i><span data-i18n="">Usuarios</span></a>
                        </li>
                        <li  ><a class="menu-item font-small-3" href="" data-toggle=""><i></i><span data-i18n="">Option 2</span></a>
                        </li>
                        <li ><a class="menu-item font-small-3" href="" data-toggle=""><i></i><span data-i18n="">Option 3</span></a>
                        </li>
                    </ul>
                </li>
				
				<li class="  nav-item" ><a href="#" ><i class="la la-database"></i><span class="menu-title" data-i18n="Invoice">Mantenimiento</span></a>
                    <ul class="menu-content">
                        <li  ><a class="menu-item font-small-3" href="/cargos" data-toggle=""><i></i><span data-i18n="Cargos">Cargos</span></a>
                        </li>
                        <li  ><a class="menu-item font-small-3" href="/tipos-nominas" data-toggle=""><i></i><span data-i18n="Tipos Nomina">Tipos Nomina</span></a>
                        </li>
                        <li  ><a class="menu-item font-small-3" href="/departamentos" data-toggle=""><i></i><span data-i18n="Departamentos">Departamentos</span></a>
                        </li>
						<li  ><a  class="menu-item font-small-3" href="/sexo" data-toggle=""><i></i><span data-i18n="Sexo">Sexo</span></a>
                        </li>
						
						<li  ><a class="menu-item font-small-3" href="/grupos-sanguineos" data-toggle=""><i></i><span data-i18n="Grupos Sanguineos">Grupos Sanguineos</span></a>
                        </li>
						
						<li ><a class="menu-item font-small-3" href="/estado-civil" data-toggle=""><i></i><span data-i18n="Estado civil">Estado civil</span></a>
                        </li>
                    </ul>
                </li>
				
				
				
                 
            </ul>
        </div>
</div>











